@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), local('Roboto'),
    url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap)
      format('woff2');
  font-display: swap;
}

/* HEADER */
.header {
  overflow: hidden;
  background-color: #373737;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#imageLogo{
  max-width: 15rem;
}

#imageLogo:hover{
  filter: brightness(0) invert(1);
}

.header-right a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header-right a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right a:hover {
  background-color: #ddd;
  color: black;
}

.header-right a.active {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

.header-right {
  float: right;
}

/* MAIN */
#container{
  min-width: 65%;
  max-width: 65%;
  display:flex;
  flex-direction: column;
  margin:0 auto;
  align-items: center;  
}

.container-figure{
  min-width: 65%;
  max-width: 65%;
  display:flex;
  flex-direction: column;
  margin:0 auto;
  align-items: center;  
}

.containerImage{
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.videoTrailer{
  width: 100%;
}

.posterImage{
  max-width:100%;
  max-height:100%;
  cursor:pointer;
}
/* --------------- CLIP PATH --------------- */
.posterImage2 {
  margin-top:20px;
  max-width:100%;
  max-height:100%;
  cursor:pointer;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 0.3s ease clip-path;
}

.posterImage2:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

#poster2-container{
  max-width:100%;
  min-width:100%;
  max-height:100%;
}

.clipPathImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% 20%;
  transition: .25s;
  cursor: pointer;
  
  &:hover {
    transform: scale(120%);
  }
}

.parent{
  padding: .8rem;
  background: black;
  height: 95vh;
  min-height: 500px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  border: 1px solid #c9b473;
  overflow: hidden;
  display: grid;

  grid-template-columns: 1fr .7fr .3fr 1fr;
  grid-template-rows: 20% 40% 20% 20%;
  grid-template-areas: 
    'one two two three'
    'four five five five'
    'six five five five'
    'six seven eight eight';
}


/* // For clipping I used mozilla's inspect element.  */
.child{
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3){
    .clipPathImg{
      width:120%;
      height: 120%;
    }
  }
  &:first-child{
    grid-area: one;
    clip-path: polygon(0% 0%, 93.24% 0%, 105.04% 110.16%, 0% 90%);
  }
  &:nth-child(2){
    grid-area: two;
    clip-path: polygon(0% 0%, 108.28% 0%, 96.45% 110.13%, 10.55% 110.93%);
  }
  &:nth-child(3){
    grid-area: three;
    clip-path:polygon(15.05% 0%, 100% 0%, 99.35% 91.7%, 3.08% 108.48%);
  }
  &:nth-child(4){
    grid-area: four;
    clip-path: polygon(0% -0.85%, 106.34% 9.98%, 121.32% 65.63%, 99.66% 109.89%, 1.86% 124.41%);

    .clipPathImg {
      width: 135%;
      height: 135%;
    }
  }
  &:nth-child(5){
    grid-area: five;
    clip-path: polygon(6.4% 6.48%, 47.24% 5.89%, 100% 0%, 98.41% 96.85%, 53.37% 100%, 53% 63.21%, 3.23% 73.02%, 14.30% 44.04%);
  }
  &:nth-child(6){
    grid-area: six;
    clip-path:  polygon(2.14% 29.3%, 99.34% 15.42%, 98.14% 100.82%, 1.57% 101.2%);
  }
  &:nth-child(7){
    grid-area: seven;
    clip-path: polygon(7.92% 33.47%, 96.31% 23.39%, 95.38% 100%, 5.30% 100.85%);
  }
  &:nth-child(8){
    grid-area: eight;
    clip-path: polygon(2.5% 22.35%, 100% 0%, 100% 100%, 1.55% 100%);
  }
  &:nth-child(9){
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4; 

    clip-path:polygon(5.94% 28.66%, 100.61% -0.67%, 101.1% 108.57%, 5.4% 126.28%);

    .clipPathImg{
      object-position: 30% 50%;
      height: 135%;
    }
  }
}


/* --------------- CLIP PATH --------------- */

#imageTrailerFigcaption{
  font-style: italic;
  font-size: 12px;
  margin-top:3px;
}

.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  background-color: #111;
  opacity: 0.7;
  color:red;
  font-size:100%;
  flex-wrap: wrap;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.textOverlay{
  font-size: 8vmin;
  text-align: center;
}

/* FOOTER */
footer{
  margin-top:10px;
  background: #111;
  height: auto;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: white;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  padding: 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

/* .socials a:hover i{
  color: aqua;
} */

.footer-bottom{
  background: #373737;
  padding: 20px;
  text-align: center;
}

.footer-bottom p{
  float: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a{
  color:#44bae8;
  font-size: 14px;
  text-decoration: none;
}

/* NAV FOOTER */
.nav-footer{
  display:flex;
}

.nav-footer a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  display:flex;
}

.nav-footer a.logo {
  font-size: 25px;
  font-weight: bold;
}

.nav-footer a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

/* Hidden class */
.hidden{
  display:none;
}

.noStyle{
  text-decoration:none;
  color:white;
}

.textBlue{
  color: #44bae8;
  text-decoration: underline !important;
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  .header{
    flex-direction: column;
  }
  
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
    min-width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .header{
    flex-direction: column;
  }
  
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
    min-width: 100%;
  }

  .container-figure{
    min-width: 100%;
    max-width: 100%;
  }

  #container{
    min-width: 100%;
    max-width: 100%;
  }

  .nav-footer{
    display:none;
  }

  .parent{
    height: auto !important;
  }
}


.noDeco{
  text-decoration: none;
  color:blue;
}

.noDeco:hover{
  color:rgb(42, 42, 66);
}

.articlePadding{
  padding: 0px 20px 0px 20px;
}

.greyColor{
  color:rgb(109, 107, 107);
  font-size:16px;
}

.detailImageChar{
  min-width: 25%;
  max-width: 25%;
  min-height: 25%;
  max-height: 25%;
}