<div class="categoriaAnecdotas">
    <h1>Anécdotas</h1>
    <ul>
        <li>Las escenas de la entrevista se basan en entrevistas reales con dichos asesinos en serie, a veces casi palabra por palabra.</li>
        <li>Los personajes Holden Ford (Jonathan Groff) y Bill Tench (Holt McCallany) están basados en los perfiladores del FBI de la vida real John Douglas y Robert K. Ressler, quienes fueron pioneros en el campo de la elaboración de perfiles criminales en la década de 1970.</li>
        <li>Based on the true crime book "Mind Hunter: Inside the FBI's Elite Serial Crime Unit", written by John Douglas and Mark Olshaker.</li>
        <li>Kazu Hiro y su equipo de maquillaje protésico pasaron seis horas trabajando con los actores Oliver Cooper y Damon Herriman para sus respectivos papeles como David Berkowitz y Charles Manson, de modo que cuando entraron al set eran la encarnación misma de sus personajes de la vida real. Hiro había ganado anteriormente el Oscar por su transformación de Gary Oldman en Winston Churchill en la película biográfica El instante más oscuro (2017).</li>
        <li>El programa se basa en las experiencias de la vida real de John Douglas, un agente especial que fue pionero en la práctica de perfiles psicológicos durante sus 25 años en el FBI.</li>
        <li>En uno de los últimos episodios, se puede escuchar a la Dra. Wendy Carr (Anna Torv) preguntando: "¿Qué hay en la caja?"... posiblemente una referencia a la película Seven (1995) de David Fincher, donde el personaje de Brad Pitt hace la misma pregunta en la famosa escena. David Fincher también dirigió cuatro episodios de la primera temporada de esta serie.</li>
    </ul>
</div>