<div class="containerDetail">
    <div class="imageContainerDetailCar">
        <h3>Jonathan Groff es Holden Ford - John E. Douglas</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/1.jpg" alt="Holden Ford">
    </div>
    <div class="imageContainerDetailCar">
        <p>Los asesinos son reales, pero también los investigadores de los casos. Pero hay una diferencia, los protagonistas policiales son personajes de ficción basados en una carrera profesional muy real. Así, <strong>Holden Ford</strong>, el agente del FBI encarnado por Jonathan Groff, es una reinvención del agente <strong>John E. Douglas</strong>, autor del libro en el que se basa la serie.</p>
        <p>Aunque quizá el parecido entre ambos hombres no es el más idóneo - aunque hay un cierto aire entre ellos, al fin y al cabo tenemos a un joven Douglas reinvetado - lo real es que gracias a este hombre se hizo realidad lo que cuenta la serie creada por John Penhall, y cuya segunda temporada ha seguido aventurándose más allá. Suya fue la idea de entrevistar a asesinos convictos para establecer patrones de conducta.</p>
    </div>

    <div class="imageContainerDetailCar">
        <h3>Holt McCallany es Bill Tench - Robert K. Ressler</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/2.jpg" alt="Bill Tench">
    </div>
    <div class="imageContainerDetailCar">
        <p>Quien si tiene un mayor parecido es el compañero de fatigas de Holden Ford, <strong>Bill Tench</strong>. El personaje interpretado por Holt McCallany está inspirado en <strong>Robert K. Ressler</strong> (1937-2013), un fuera de serie que - algo menos musculoso que el actor y con gafas - en los ochenta participó en la caza de asesinos como Ted Bundy o Jeffrey Dahmer, y, tal y como se ve en la serie, fue el responsable de acuñar la expresión "serial-killer", o "asesino en serie", un término inexistente hasta el momento en que este equipo se arranca.</p>
    </div>

    <div class="imageContainerDetailCar">
        <h3>Anna Torv es Wendy Carr - Ann W. Burgess</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/3.jpg" alt="Wendy Carr">
    </div>
    <div class="imageContainerDetailCar">
        <p>La <strong>Wendy Carr</strong> dispuesta a dar orden y rigurosa metodología al estudio no se parece demasiado al modelo real, por no decir nada.</p>
        <p>En la realidad fue la venerable enfermera <strong>Ann W. Burgess</strong> quien acudió a la ayuda de Quántico. En una entrevista para Pacific Standart Mag, Burgess le quitaba hierro a las características diferentes que se le han dado a su personaje.</p>
        <p>De hecho, no solo le han cambiado el color y corte de pelo, hasta el cargo que ocupa y su orientación sexual es ficcionada. "No es exactamente cómo sucedió, pero es divertido", contó el personaje real. "Siempre he sido una académica, pero ellos la llevaron a Quántico. Yo nunca me mudé. Tengo hijos, los cuales han estado un poco nerviosos por el hecho de que [en la serie] soy lesbiana. Eso ha sido interesante. Es su derecho retratarme cómo ellos quieran".</p>
    </div>
</div> 

<div class="containerDetail">
    <h2>Similares</h2>
    <ul>
        <a href="./../detailJG/JohnGroff.html" class="noDeco"><li>Holden Ford</li></a>
        <a href="./../detailBT/billtench.html" class="noDeco"><li>Bill Tench.</li></a>
        <a href="./../detailWC/wendycarr.html" class="noDeco"><li>Wendy Carr</li></a>
        <a href="./../caracterizacion/serialkillers.html" class="noDeco"><li>Caracterización - Serial killers</li></a>
    </ul>
</div>