<div class="containerDetail">
    <div class="imageContainerDetailCar">
        <h3>Cameron Britton es Edmund Kemper, "El asesino de colegialas"</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/4.jpg" alt="Edmund Kemper">
    </div>
    <div class="imageContainerDetailCar">
        <p>Uno de los platos fuertes de la serie es, sin duda, la magistral recreación que Cameron Britton lleva a cabo del gigantesco Ed Kemper, un célebre asesino en serie de más de dos metros de alto, que mató al menos a 10 personas entre 1964 y 1973, incluidos sus propios abuelos cuando tan solo contaba con 15 años y a su madre ya de adulto, a quien violó "post-morten".</p>
        <p>'El asesino de colegialas' es una de las mentes más retorcidas y sociópatas de toda la serie. Capaz de engañar a cualquiera, el actor reproduce magistralmente su metódica frialdad de comportamiento, su falsa empatía, su ego escalofriante, su falta de culpabilidad y demás características que aparecen en los perfiles psicológicos de este tipo de asesinos. Y todo ello con un parecido físico que asusta.</p>
    </div>

    <div class="imageContainerDetailCar">
        <h3>Sam Strike es Monte Ralph Rissell, "el asesino precoz"</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/5.jpg" alt="Monte Ralph Rissell">
    </div>
    <div class="imageContainerDetailCar">
        <p>Fue el segundo gran entrevistado por Bill Tench y Holden Ford en la primera temporada de la serie. Su carrera criminal sigue despertando miedo y expectación a partes iguales: a los 14 años se convirtió en violador en serie, y a los 18 en asesino misógino. Como Kemper, está el fantasma de una madre a la que culpa de todo y una capacidad de engañar a los demás magistral.</p>
    </div>

    <div class="imageContainerDetailCar">
        <h3>Sonny Valicenti es Dennis Rader, alias BTK</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/6.jpg" alt="BTK">
    </div>
    <div class="imageContainerDetailCar">
        <p>Antes de hablar del actor que encarna a Dennis Rader, un detalle: cuando se publicó originalmente 'Mindhunters', en 1995, todavía no le habían pillado. En su libro, John E. Douglas no se refiere a él por su nombre propio, sino como “BTK” (siglas de “Bind, Torture and Kill”), el sobrenombre que el mismo se había adjudicado para firmar sus misivas a la prensa, en donde clamaba “¿A cuantos tengo que matar para ver mi nombre en los periódicos o tener un poco de atención nacional?”.</p>
        <p>Este personaje apareció entre bambalinas en la primera temporada. Y en los nuevos capítulos nos ha mostrado su carácter obsesivo, su adicción hacia el sadismo y el detonante que lo llevará a empezar a matar. Acusado de asesinar a 10 personas entre 1974 y 1991, empezando por los cuatro miembros de una misma familia, no fue capturado hasta 2005, gracias a que su ego acabó por traicionarlo.</p>
        <p>Como a la hora de comenzar la producción ya había cara y nombre que poner a la hora de hacer el casting, la elección fue bastante acertada, ¿no creéis?</p>
    </div>

    <div class="imageContainerDetailCar">
        <h3>Happy Anderson es Jerry Brudos, el "asesino transformista"</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/7.jpg" alt="Jerry Brudos">
    </div>
    <div class="imageContainerDetailCar">
        <p>El fetichista de los zapatos que, cómo no, culpa a su madre. Si algo coincide en todos los sociópatas es su visión distorsiana de la realidad. Ellos son la verdadera víctima. Incomprendidos, abandonados, juzgados y maltratados.</p>
        <p>Pero los zapatos y la ropa de mujer no eran más que un fetichismo sexual del asesino, que un día mató a una vendedora de enciclopedias despertando un placer intrínseco que ya no podrí parar hasta su detención. Entre 1966 y 1969 atacó a otras cinco mujeres, a las que asesinó, violó (a veces por este orden), mutiló y fotografió cumpliendo con todas sus fantasías.</p>
    </div>

    <div class="imageContainerDetailCar">
        <h3>Jack Erdie es Richard Speck, "el asesino de las enfermeras"</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/8.jpg" alt="Richard Speck">
    </div>
    <div class="imageContainerDetailCar">
        <p>Puso la guinda final a la primera temporada. El asesino Richard Speck, a quien Ford admira en secreto, nacido en 1941, y fallecido en la cárcel 49 años después, no pasó a la Historia como un asesino en serie, sino como "un asesino de masas". Su frialdad asusta, y Jack Erdie lo refleja a la perfección.</p>
        <p>Frío, calculador, pasó a la historia por matar en una misma noche a siete enfermeras, pues al matar a una tuvo que matar a las demás. Es el ejemplo de "asesino desorganizado", como la doctora lo llama. De hecho, en su frenesí dejó escapar a una. Se intentó suicidar por ello, aunque el asesino lo niegue como muestra la serie.</p>
    </div>

    <div class="imageContainerDetailCar">
        <h3>Damon Herriman es Charles Manson</h3>
        <img loading="lazy" src="./../../../assets/images/caracterizacion/9.jpg" alt="Charles Manson">
    </div>
    <div class="imageContainerDetailCar">
        <p>Poca presentación necesita este personaje. Lamentablemente es uno de los nombres que ha pasado a la historia general del siglo XX. El cine ha contado su historia una y otra vez, así como el asesinato de una de sus víctimas más conocidas: Sharon Tate, la mujer del director Polanski, y a quien acabamos de ver interpretada por Margot Robbie en 'Érase una vez en...Hollywood'.</p>
        <p>Y bueno, qué decir del actor que le da vida. Tal es su parecido que 'Mindhunter' no es su única actuación como el líder de la secta, es también Manson en la cinta de Tarantino.</p>
    </div>
</div>   

<div class="containerDetail">
    <h2>Similares</h2>
    <ul>
        <a href="./../detailJG/JohnGroff.html" class="noDeco"><li>Holden Ford</li></a>
        <a href="./../detailBT/billtench.html" class="noDeco"><li>Bill Tench.</li></a>
        <a href="./../detailWC/wendycarr.html" class="noDeco"><li>Wendy Carr</li></a>
        <a href="./../caracterizacion/principales.html" class="noDeco"><li>Caracterización - Personajes principales</li></a>
    </ul>
</div>