<div class="swiffy-slider slider-item-helper slider-item-ratio">
    <ul class="slider-container">
        <li><img src="./../../assets/carousel/mindhunter_poster.webp" alt="Portada"></li>
        <li><img src="./../../assets/carousel/mindhunter_2.avif" alt="Portada"></li>
        <li><img src="./../../assets/carousel/mindhunter_3.jpg" alt="Portada"></li>
        <li><img src="./../../assets/carousel/mindhunter_4.webp" alt="Portada"></li>
        <li><img src="./../../assets/carousel/mindhunter_5.webp" alt="Portada"></li>
        <li><img src="./../../assets/carousel/mindhunter_6.webp" alt="Portada"></li>
        <li><img src="./../../assets/carousel/mindhunter_7.jpg" alt="Portada"></li>
        <li><img src="./../../assets/carousel/mindhunter_8.jpg" alt="Portada"></li>
    </ul>

    <button type="button" class="slider-nav blueish"></button>
    <button type="button" class="slider-nav slider-nav-next blueish"></button>

    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>