<div class="swiffy-slider slider-item-helper slider-item-ratio">
    <ul class="slider-container">
        <li><img loading="lazy" src="./../../assets/carousel/mindhunter_poster.webp" alt="Carrusel img"></li>
        <li><img loading="lazy" src="./../../assets/carousel/mindhunter_2.webp" alt="Carrusel img"></li>
        <li><img loading="lazy" src="./../../assets/carousel/mindhunter_3.webp" alt="Carrusel img"></li>
        <li><img loading="lazy" src="./../../assets/carousel/mindhunter_4.webp" alt="Carrusel img"></li>
        <li><img loading="lazy" src="./../../assets/carousel/mindhunter_5.webp" alt="Carrusel img"></li>
        <li><img loading="lazy" src="./../../assets/carousel/mindhunter_6.webp" alt="Carrusel img"></li>
        <li><img loading="lazy" src="./../../assets/carousel/mindhunter_7.webp" alt="Carrusel img"></li>
        <li><img loading="lazy" src="./../../assets/carousel/mindhunter_8.webp" alt="Carrusel img"></li>
    </ul>

    <button type="button" class="slider-nav blueish"></button>
    <button type="button" class="slider-nav slider-nav-next blueish"></button>

    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>