<div id="repartoMindhunter">
    <h1>Reparto</h1>
    <h2>Personajes principales</h2>
    <div class="repartoDiv">
        <div>
            <p>Jonathan Groff (II)</p>
            <p class="personajeReparto">Personaje : Holden Ford</p>
            <img src="https://es.web.img3.acsta.net/c_310_420/pictures/17/10/12/11/59/2027359.jpg" alt="Jonathan Groff">
        </div>
        <div>
            <p>Holt Mccallany</p>
            <p class="personajeReparto">Personaje : Bill Tench</p>
            <img src="https://es.web.img3.acsta.net/r_1920_1080/medias/nmedia/18/82/76/08/19635432.jpg" alt="Holt Mccallany">
        </div>
        <div>
            <p>Anna Torv</p>
            <p class="personajeReparto">Personaje : Wendy Carr</p>
            <img src="https://es.web.img3.acsta.net/c_310_420/pictures/17/10/12/12/08/5279703.jpg" alt="Anna Torv">
        </div>
    </div>
    <h2>Personajes secundarios</h2>
    <div class="repartoDiv">
        <div>
            <p>Stacey Roca</p>
            <p class="personajeReparto">Personaje : Nancy Tench</p>
            <img src="https://es.web.img2.acsta.net/c_310_420/pictures/17/10/04/08/48/5570547.jpg" alt="Stacey Roca">
        </div>
        <div>
            <p>Michael Cerveris</p>
            <p class="personajeReparto">Personaje : Ted Gunn</p>
            <img src="https://es.web.img3.acsta.net/c_310_420/medias/nmedia/18/94/25/94/20314480.jpg" alt="Michael Cerveris">
        </div>
        <div>
            <p>Joe Tuttle</p>
            <p class="personajeReparto">Personaje : Gregg Smith</p>
            <img src="https://es.web.img2.acsta.net/c_310_420/pictures/19/07/30/16/39/3776154.jpg" alt="Joe Tuttle">
        </div>
        <div>
            <p>Hannah Gross</p>
            <p class="personajeReparto">Personaje : Debbie Mitford</p>
            <img src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/724616_v9_ba.jpg" alt="Hannah Gross">
        </div>
        <div>
            <p>Lauren Glazier</p>
            <p class="personajeReparto">Personaje : Debbie Mitford</p>
            <img src="https://es.web.img3.acsta.net/c_310_420/pictures/20/01/04/02/31/3063922.jpg" alt="Lauren Glazier">
        </div>
        <div>
            <p>Albert Jones</p>
            <p class="personajeReparto">Personaje : Jim Barney</p>
            <img src="https://es.web.img3.acsta.net/c_310_420/pictures/19/07/30/16/42/0224375.jpg" alt="Albert Jones">
        </div>
    </div>
    <h2>Serial Killers</h2>
    <div class="repartoDiv">
        <div>
            <p>Cameron Britton</p>
            <p class="personajeReparto">Personaje : Ed Kemper</p>
            <img src="https://ntvb.tmsimg.com/assets/assets/718695_v9_bb.jpg" alt="Cameron Britton">
        </div>
        <div>
            <p>Damon Harriman</p>
            <p class="personajeReparto">Personaje : C. Manson</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Damon_Herriman_2019_by_Glenn_Francis.jpg/1200px-Damon_Herriman_2019_by_Glenn_Francis.jpg" alt="Damon Harriman">
        </div>
        <div>
            <p>Sonny Valicenti</p>
            <p class="personajeReparto">Personaje : BTK</p>
            <img src="https://m.media-amazon.com/images/M/MV5BMTU3MjgxNzkwM15BMl5BanBnXkFtZTgwMTcyOTc1NTE@._V1_.jpg" alt="Sonny Valicenti">
        </div>
        <div>
            <p>Christopher Backus</p>
            <p class="personajeReparto">Personaje : "Tex" Watson</p>
            <img src="https://images.fandango.com/ImageRenderer/300/0/redesign/static/img/default_poster.png/0/images/masterrepository/performer%20images/30059/christopherbackus-9.jpg" alt="Christopher Backus">
        </div>
        <div>
            <p>Robert Aramayo</p>
            <p class="personajeReparto">Personaje : Elmer Henley</p>
            <img src="https://pyxis.nymag.com/v1/imgs/417/099/943948ebd073f1d07c42ef0dbf19979848-14-robert-aramayo.rsquare.w330.jpg" alt="Robert Aramayo">
        </div>
        <div>
            <p>Michael Filipowich</p>
            <p class="personajeReparto">Personaje : W. Pierce</p>
            <img src="https://static.next-episode.net/actor-images/actors/93/michael-filipowich.jpg" alt="Michael Filipowich">
        </div>
    </div>
</div>