<div id="sinopsisInfo">
    <h1>Sinopsis & info</h1>
    <p>
    <strong>Mindhunter</strong> es una <u>serie dramática</u> exclusiva de Netflix del género thriller policial que se basa en el libro <q>Mindhunter: Inside the FBI's Elite Serial Crime Unite</q>, escrito por los ex agentes especiales del <i>FBI</i>, <i>John Douglas y Mark Olshaker</i>. 
    </p>
    <p>
    Durante años, Douglas persiguió a algunos de los más famosos asesinos seriales y violadores, desarrollando técnicas innovadoras para atrapar a estos peligrosos criminales.  Entre los criminales a los que ha investigado se encuentran nombres como <strong>Charles Manson</strong>, <strong>Richard Speck</strong>, <strong>John Wayne Gacy</strong> y <strong>James Earl Ray</strong>, haciendo un estudio pormenorizado para entender sus motivos.
    </p>
    <p>
    A menudo entrevistaba a estos hombres buscados por la justicia para desarrollar perfiles y muchos personajes de ficción que desarrollan perfiles de asesinos en serie, especialmente el agente Jack Crawford de los thrillers Dragón Rojo y El silencio de los corderos, están inspirados en su trabajo. Esta serie exclusiva de Netflix está producida por el cineasta <strong>David Fincher</strong> (Seven, Perdida) y la actriz <strong>Charlize Theron</strong> (Mad Max: Fury Road)
    </p>
</div>