<div id="trailerTemporadas">
  <h1>Trailers</h1>
  <div class="container-figure">
      <figure>                
          <video class="videoTrailer" id="trailerVideo" controls onloadstart="this.volume=0.2">
              <source src="./../../assets/videos/MHOfficialTrailer.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <figcaption id="imageTrailerFigcaption"> Tráiler oficial de Mindhunter. | Proporcionado por <a href="https://www.youtube.com/watch?v=evdxH50J3rs" target="_blank">Netflix</a></figcaption>
      </figure>>
  </div>

  <div class="container-figure">
      <figure>                
          <video class="videoTrailer" id="trailerVideo" controls onloadstart="this.volume=0.2">
              <source src="./../../assets/videos/MHTrailerS2.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <figcaption id="imageTrailerFigcaption"> Tráiler oficial temporada 2. | Proporcionado por <a href="https://www.youtube.com/watch?v=PHlJQCyqiaI" target="_blank">Netflix</a></figcaption>
      </figure>
  </div>
</div>